@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: inter;
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "inter" ,sans-serif;
}
@layer base{
    li {
        @apply md:p-3  p-2 text-sm md:text-base
    }
}